# **Trabalho Final**
### Algoritmos e Programação com Linguagem Python
---

**Orientações Gerais:**

* Esta é o trabalho final prático onde serão trabalhados conceitos 
apresentados e exercitados em sala de aula.

* Aspéctos como clareza e organização do código, comentários, raciocínio lógico, coerência no nome de variáveis, utilização das estruturas mais adequadas para a solução dos problemas e o funcionamento adequado serão analisados e irão compor o valor da nota final.

* Procure entender exatamente o que se pede antes de iniciar a codificação. Quando se sabe o que é necessário fazer, a codificação fica mais fácil, mais eficiente e mais divertida ;-).

* Faça o upload do notebook completo nomeado da seguinte forma: *nome_sobrenome_RA.ipynb*. 

* No caso de grupos, informar ao professor os membros de cada grupo e cada um deverá importar o arquivo no Canvas individualmente.

* Arquivos com nomes incorretos serão desconsiderados!

* Não deixem dúvidas para trás! Acessem os grupos combinados ou entrem em contato com o professor. 

✌ Sucesso o/

# RMS Titanic

O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável".

A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912, no caminho passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte matando mais de 1500 pessoas, sendo um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 m de profundidade e a 650 km ao sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, levando a produção de vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

*Fonte:* [WikiPedia](https://pt.wikipedia.org/wiki/RMS_Titanic)

--------

A equipe da [Udacity](https://udacity.com) disponibilizou informações sobre uma parte dos passageiros à bordo do RMS Titanic no dia daquela tragédia. Esse _dataset_ que contém informações reais vem sendo utilizado em diversos estudos de caso, além de servir de base para aprendizado de Ciência de Dados, Estatística e Machine Learning.

O arquivo **titanic_data.csv** contém informações reais sobre os passageiros organizadas da seguinte forma:

- Survived (Sobreviveu): 0 = Não, 1 = Sim
- Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º
- Sex (Sexo): Sexo do passageiro
- Age (Idade): Idade em anos
- Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic
- Parch: Quantidade de pais / crianças a bordo do Titanic
- Ticket (Bilhete): Número do bilhete de embarque
- Fare (Tarifa): Tarifa paga pelo Passageiro
- Cabin (Cabine): Número de cabine
- Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

O objetivo deste estudo é obter algumas informações estatísticas sobre a tragédia e realizar alguns _insights_ a respeito dos tripulantes e das circunstâncias do acidente.

Efetue a carga do arquivo através da biblioteca _Pandas_ e a partir do _DataFrame_ gerado, efetue as operações necessárias para responder as questões.

## Importando o DataSet

1 - Efetuar a leitura do dataset através do Pandas, gerando um DataFrame de nome tit, levando-se em consideração que o arquivo encontra-se na mesma pasta do notebook.

In [ ]:
import pandas as pd

path = "titanic_data.csv"
tit = pd.read_csv(path)

## Conhecendo o DataSet

2 - Quantas linhas e colunas tem o dataset? Quais os tipos das colunas?

In [ ]:
print(f"O dataset possui {len(tit)} linhas e {len(tit.columns)} colunas.")
print(f"Os tipos das colunas são: \n{tit.dtypes}")

O dataset possui 891 linhas e 12 colunas.
Os tipos das colunas são:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

3 - Mostre os dados dos dez primeiros e 8 últimos registros do dataset.

In [ ]:
tit.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
tit.tail(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

4 - Cálculos envolvendo colunas numéricas com dados faltantes podem sofrer impacto. É possível afirmar se há dados faltantes no dataset? Caso positivo, quais e quantos seriam esses dados? Preencha os dados faltantes de forma que não influenciem em operações futuras.

In [ ]:
print(tit.isnull().sum())

# Por idade se tratar de uma variável numérica a melhor forma de preencher os dados faltantes é utilizando utilizar a mediana agrupando por sexo.
    # group_keys como False para não apresentar warning 
tit['Age'] = tit.groupby('Sex', group_keys = False)['Age'].apply(lambda x: x.fillna(x.median()))

# Preenchendo os dados da cabine como desconhecido.
tit['Cabin'].fillna('Desconhecido', inplace=True)

# Preenchendos os valores de embarque com a moda da coluna Embarked
tit['Embarked'].fillna(tit['Embarked'].mode()[0], inplace=True)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Adequando o DataSet

5 - Uma vez que algumas colunas não serão utilizadas, eventualmente é melhor excluí-las para que não interfiram na análise. Assim, exclua do dataset as colunas Sibsp, Parch e Ticket.

In [ ]:
exclusion = ["SibSp","Parch","Ticket"]
tit.drop(exclusion, axis='columns', inplace=True)

6 - Renomear as colunas restantes para a lingua portuguesa, utilizando os seguintes nomes de colunas: IdPassageiro, Sobreviveu, Classe, Nome, Sexo, Idade, Tarifa, Cabine e Embarque.

In [ ]:
new_header = ["IdPassageiro", "Sobreviveu", "Classe", "Nome", "Sexo", "Idade", "Tarifa", "Cabine", "Embarque"]
tit.columns = new_header

7 - Alterar o conteudo da coluna Sobreviveu para:
- 0 => Não
- 1 => Sim

In [ ]:
replace_survive = {0: 'Não', 1: 'Sim'}
tit['Sobreviveu'] = tit['Sobreviveu'].replace(replace_survive)
tit['Sobreviveu']

0      Não
1      Sim
2      Sim
3      Sim
4      Não
      ...
886    Não
887    Sim
888    Não
889    Sim
890    Não
Name: Sobreviveu, Length: 891, dtype: object

8 - Alterar o conteudo da coluna Sexo para:
- female => Mulher
- male   => Homem

In [ ]:
replace_sex = {"female": "Mulher", "male": "Homem"}
tit['Sexo'] = tit['Sexo'].replace(replace_sex)
tit['Sexo']

0       Homem
1      Mulher
2      Mulher
3      Mulher
4       Homem
        ...
886     Homem
887    Mulher
888    Mulher
889     Homem
890     Homem
Name: Sexo, Length: 891, dtype: object

## Alguns números

9 - Quantas mulheres e quantos homems estavam à bordo, de acordo com o dataset?

In [ ]:
# Fazendo uma contagem para cada valor na coluna sexo
count_sex = tit['Sexo'].value_counts()
print(count_sex)

Homem     577
Mulher    314
Name: Sexo, dtype: int64

10 - Quantos passageiros sobreviveram e quantos não sobreviveram?

In [ ]:
# Contando a frequência para cada valor na coluna sobreviveu
count_alive = tit['Sobreviveu'].value_counts()
print(count_alive)

Não    549
Sim    342
Name: Sobreviveu, dtype: int64

11 - Quantas mulheres não sobreviveram?

In [ ]:
# Filtrando o Dataframe para mulheres que morreram
woman_not_alive = tit[(tit['Sexo'] == 'Mulher') & (tit['Sobreviveu'] == "Não")].shape[0]
print("Número de mulheres que não sobreviveram:", woman_not_alive)

Número de mulheres que não sobreviveram: 81

12 - Proporcionalmente, sobreviveram mais homens ou mais mulheres? Cite as proporções.

In [ ]:
# Contagem pelo pessoas pelo sexo
man_count = tit[(tit['Sexo'] == 'Homem')].shape[0]
woman_count = tit[(tit['Sexo'] == 'Mulher')].shape[0]

# Contagem de sobreviventes pelo sexo
man_alive = tit[(tit['Sexo'] == 'Homem') & (tit['Sobreviveu'] == "Sim")].shape[0]
woman_alive = tit[(tit['Sexo'] == 'Mulher') & (tit['Sobreviveu'] == "Sim")].shape[0]

proportion_man = round(man_alive / man_count, 2) 
proportion_woman = round(woman_alive / woman_count, 2) 

print(f"Proporção de homens que sobreviveram: {proportion_man * 100}%")
print(f"Proporção de mulheres que sobreviveram: {proportion_woman * 100}%")

if proportion_man > proportion_woman:
  print(f"Proporcionalmente, sobreviveram mais homens do que mulheres. \nCom {man_count} homens inicialmente a bordo, sobreviveram um total de {man_alive} homens.")
else:
  print(f"Proporcionalmente, sobreviveram mais mulheres do que homens. \nCom {woman_count} mulheres inicialmente a bordo, sobreviveram um total de {woman_alive} mulheres.")

Proporção de homens que sobreviveram: 19.0%
Proporção de mulheres que sobreviveram: 74.0%
Proporcionalmente, sobreviveram mais mulheres do que homens.
Com 314 mulheres inicialmente a bordo, sobreviveram um total de 233 mulheres.

13 - Levando-se em consideração a idade dos passageiros, qual a idade e quantidade de pessoas com o maior número de mortos?

In [ ]:
# Filtrando passageiros que morreram
deaths = tit[tit['Sobreviveu'] == 'Não']

# encontre a idade e quantidade de pessoas com o maior número de mortos
age_max_deaths = deaths['Idade'].value_counts().idxmax()
qtd_max_deaths = deaths['Idade'].value_counts().max()

print(f"A idade com o maior número de mortos é {age_max_deaths} anos, com {qtd_max_deaths} pessoas.")

A idade com o maior número de mortos é 29.0 anos, com 120 pessoas.

14 - Qual a média de idade dos homens sobreviventes?

In [ ]:
# Filtrando pelas colunas Sexo e Sobreviveu e fazendo a média da coluna Idade
mean_age_men_alive = tit['Idade'][(tit['Sexo'] == 'Homem') & (tit['Sobreviveu'] == "Sim")].mean() 
print(f"A idade média dos homens sobreviventes é de {round(mean_age_men_alive, 0)}")

A idade média dos homens sobreviventes é de 28.0

15 - Levando-se em consideração passageiros prioritários (mulheres e crianças de até 15 anos independente do sexo) qual a proporção de sobreviventes por sexo?

In [ ]:
# Criando uma coluna númerica baseado na coluna sobreviveu para ser calculada.
tit['Sobreviveu_Numerico'] = tit["Sobreviveu"].replace({"Sim": 1, "Não": 0})

survive_per_sex = tit.groupby('Sexo')['Sobreviveu_Numerico'].mean() * 100
survive_per_sex

Sexo
Homem     18.890815
Mulher    74.203822
Name: Sobreviveu_Numerico, dtype: float64

16 - Qual a quantidade de passageiros por classe?

In [ ]:
tit['Classe'].value_counts()

3    491
1    216
2    184
Name: Classe, dtype: int64

17 - Qual o percentual de sobreviventes por classe?

In [ ]:
survive_per_class = tit.groupby('Classe')['Sobreviveu_Numerico'].mean() * 100
survive_per_class.apply(lambda x: '{:.2f}%'.format(x))

Classe
1    62.96%
2    47.28%
3    24.24%
Name: Sobreviveu_Numerico, dtype: object

18 - Crie um dataframe que demonstre a quantidade de sobreviventes e não sobreviventes, agrupados por sexo e classe.

In [ ]:
# Agrupando o Dataframe pelo Sexo, Classe e Sobreviveu
survive_per_sex_class = tit.groupby(['Sexo', 'Classe', 'Sobreviveu']).size().unstack()

# Renomeando as colunas
survive_per_sex_class.columns = ['Mortos','Sobreviventes']

# Criando novas colunas
survive_per_sex_class["Total"] = survive_per_sex_class["Mortos"] + survive_per_sex_class["Sobreviventes"]
survive_per_sex_class["% Sobreviventes"] = survive_per_sex_class["Sobreviventes"] / survive_per_sex_class["Total"] * 100

survive_per_sex_class

               Mortos  Sobreviventes  Total  % Sobreviventes
Sexo   Classe
Homem  1           77             45    122        36.885246
       2           91             17    108        15.740741
       3          300             47    347        13.544669
Mulher 1            3             91     94        96.808511
       2            6             70     76        92.105263
       3           72             72    144        50.000000